body, button, .comment-text {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  color: #A69C0F;
}

h2, h3, h5, p, a, label, button {

  color: #81878a;

}

h4 {
  color:#BF303C;
}

a:hover {
  text-decoration: none;
  color: #BF303C;
}
.colored-background {
  background-color: #f8fbf8;

}

.white-background {
  background-color: #ffffff;
}



/* Top Container */

.main-heading {
  padding: 100px 150px;
}

.title {
  font-size: 5rem;
}

.sub-title {
  padding-top: 20px;
  color: #BF303C;
  font-size: 1.3rem;
}

.cover-photo {
  height: auto;
  width: 100%;
  position: relative;
  float: right;
}



/* Second Container */

#menu-dishes {
  margin-top: -30px;
  position:relative;

}
.dishes {
  height:200px;
  padding:10px 0;
  width: 100%;
  margin:auto;
  position: relative;
  text-align: center;
  border-style: double;
  border-width: 5px 0;
  border-color: #BACDD9;
}

.plate {

  width: 170px;
  height: auto;
  position: relative;
}

.dishes-plate {
  position: relative;
  bottom: 110px;
  font-family: 'Sacramento', cursive;
  font-size: 2.1rem;
  font-weight: bold;
}

/* Third Container */
.description {
  padding: 50px 80px;
  text-align: justify;
}

.img-cupcakes {
  width: 50%;
  height: auto;
  margin-right: 10px;
  float: left;
  padding-bottom: 15px;
}

.featured-col {
  padding-top: 10px;
}

.featured-col-text {
  color:#BF303C;
}


/* Comment Box */

textarea {
  width:40px;
}
.comment-box {
  font-family: 'Sacramento', cursive;
  font-size: 1.8rem;
  margin: 20px 60px;
}

.share-button {

}
/* Bottom Container */
footer {
background-color: #A69C0F;
color: #f8fbf8;
padding:30px 0;
padding-left:30px;

}

.fa-instagram {
  font-size:30px;
}
